@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
body {
  background: url("media/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

/*START INDEX STYLING*/
.mainContainer {
  position: relative;
  height: 100vh;
  width: 100%;
}
.headerStyle {
  position: relative;
  width: 100%;
  height: 30%;
  top: 100px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: larger;
  animation: moveUp 2s;
}
.headerStyle h1 {
  position: relative;
}
.gold {
  position: relative;
  color: white;
}
.inputSection {
  position: relative;
  animation: fadeIn 3s;
}
.explanationText {
  text-align: center;
  font-family: "Nunito", sans-serif;
}
.calc {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.inputText {
  position: relative;
  text-align: center;
  font-family: "Nunito", sans-serif;
}
.twoInputs {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 20px;
}
.buttonSelector {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  width: 500px;
  height: 100px;
}
.stringButton {
  position: relative;
}
.stringButton button,
.calcButton button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid black;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}
.calcButton {
  position: relative;
}
.stringButton button:hover,
.calcButton button:hover {
  background-color: lightgray;
}
.boxArea {
  position: relative;
  min-height: 100px;
}
.boxArea textarea {
  border-radius: 12px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.buttonStyle {
  position: relative;
}
.buttonStyle input:hover {
  background-color: lightgray;
}
.buttonStyle input {
  border-radius: 8px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  cursor: pointer;
}
.membersArea {
  position: absolute;
  width: 100%;
  bottom: 1%;
  animation: fadeIn 5s;
}
.members {
  position: absolute;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 0px;
  /* border: 1px solid red; */
}
.one h4,
.two h4,
.three h4,
.four h4,
.five h4 {
  text-align: center;
}
/*END INDEX STYLING*/

/*START INVALID STYLING*/
@keyframes moveUp {
  0% {
    top: 90%;
    text-align: center;
    height: 10%;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  100% {
    top: 100px;
    height: 30%;
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  66% {
    opactiy: 0;
  }
  100% {
    opacity: 1;
  }
}

/*SAIF CSS*/
.calculator {
  border-radius: 10px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0, 15),
    0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  margin-inline-start: auto;
  margin-inline-end: auto;
  margin-block-start: 2em;
  max-inline-size: 22rem;
  overflow: hidden;
}

.calculatorDesign {
  background: black;
  color: #f2aa4cff;
  font-size: 2rem;
  padding-block-start: 0.5rem;
  padding-block-end: 0.5rem;
  padding-inline-end: 0.75rem;
  text-align: end;
}

.function {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1px;
  background: black;
}

.functions {
  background: #f2aa4cff;
  border: none;
  padding-block-start: 1rem;
  padding-block-end: 1rem;
  padding-inline-end: 1.25rem;
  padding-inline-start: 1.25rem;
  font-size: 1.5rem;
}

.functions:active,
.functions:focus {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3) inset;
  outline: none;
}

.functions--operator {
  background: hsl(208, 25%, 86%);
}

.functions--operator:active {
  background: hsl(208, 24%, 80%);
}

.functions--enter {
  grid-column: 4/5;
  grid-row: 2 / span 4;
  background: hsl(357, 100%, 72%);
}
/*END SAIF CSS*/
